html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 70%;
    grid-column: 10px;
    grid-row: 10px;
}
@media screen and (min-width: 772px){
    .grid{
        grid-template-columns: 40% 40%;
    }
    img{
        border-radius: 100px;
    }
    .grid figure:nth-child(9){
        grid-column: span 2;
    }
}
@media screen and (min-width: 992px){
    .grid figure:nth-child(3n){
        grid-column: span 2;
    }
    img{
        border-radius: 0;
    }
}
@media (prefers-reduced-motion){
    html, body {
        margin: 0; 
        height: 100%; 
        overflow: hidden;
    }

}
@media (prefers-color-scheme: dark){
    body{
        background-color:rgb(68, 52, 52);
    }
    figcaption{
        color:bisque;
    }
    img{
        border: 5px solid black;
    }
    
}